.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(203, 245, 203);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-container a{
    text-decoration: none;
    padding-left: 20px;
}